body {
	padding: 0;
	margin: 0;
}

header {
	background: #344A4E;
	height: 30em;
	font-family: "Open Sans", Arial, sans-serif;
	text-align: center;
	
}
header img#dessin1 {
	padding: 5px;
	position:absolute;
	top:250px;
	left:100px;	
}
header img#dessin2 {
	padding: 5px;
	position:absolute;
	top:250px;
	left:300px;	
}

header img#dessin3 {
	padding: 5px;
	position:absolute;
	top:250px;
	left:500px;	
}

header img#dessin4 {
	padding: 5px;
	position:absolute;
	top:250px;
	left:700px;	
}
header img#dessin5 {
	padding: 5px;
	position:absolute;
	top:250px;
	left:900px;	
}

header img#logo {
	padding: 0;
	margin: 0;
	text-align: left;
	position:absolute;
	top:20px;
	left:50px;
}

section h3 {
	text-align: center;
	font-family: "Harrington";
	position: relative;
	

}

section h2, section p {
	position: relative;
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1;
  list-style-type: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  box-sizing: border-box;
	margin: 12em;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
 	-webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color:#344A4E;
  text-align: center;
}

footer {
	position: relative;
	bottom: 0;
	background: #1c282a;
	height: 1.5em;
	width: 100%;
	text-align: center;
	padding: 30px;
 
}

footer p {
	color: #a1c3d7;
}


